In [2]:
import numpy as np
import pandas as pd
import altair as alt

In [3]:
#read accident data
accidents = pd.read_csv('dataset_v1.csv')

In [9]:
accidents = accidents[accidents['CRASH DATE'].str.contains('2018')]
accidents['VEHICLE TYPE CODE 1'] = accidents['VEHICLE TYPE CODE 1'].replace(['fire truck'],'FIRE')
accidents['VEHICLE TYPE CODE 1'] = accidents['VEHICLE TYPE CODE 1'].replace(['ambulance'],'AMBULANCE')
accidents['VEHICLE TYPE CODE 1'] = accidents['VEHICLE TYPE CODE 1'].replace(['Taxi'],'TAXI')
accidents.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
43,2018-08-30T00:00:00Z,14:00,BROOKLYN,11204.0,40.616620,-73.999720,"(40.61662, -73.99972)",NEW UTRECHT AVENUE,74 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3971526,Sedan,Sedan,NaN,NaN,NaN
44,2018-09-18T00:00:00Z,21:50,QUEENS,11356.0,40.778610,-73.842490,"(40.77861, -73.84249)",23 AVENUE,126 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3983456,pickup,NaN,NaN,NaN,NaN
45,2018-09-08T00:00:00Z,21:30,QUEENS,11368.0,40.738873,-73.863625,"(40.738873, -73.863625)",NaN,NaN,97-36 55 AVENUE,...,Unspecified,NaN,NaN,NaN,3977553,SUV,SUV,NaN,NaN,NaN
46,2018-09-20T00:00:00Z,14:22,BROOKLYN,11238.0,40.674664,-73.970250,"(40.674664, -73.97025)",NaN,NaN,10 GRAND ARMY PLAZA,...,Unspecified,NaN,NaN,NaN,3984970,Sedan,NaN,NaN,NaN,NaN
47,2018-08-31T00:00:00Z,7:55,BRONX,10472.0,40.827168,-73.870125,"(40.827168, -73.870125)",WATSON AVENUE,CROES AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3973140,Sedan,Sedan,NaN,NaN,NaN

In [11]:
#read weather data
weather = pd.read_csv('weather2018.csv')
weather.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,new york,2018-06-01,26.7,17.9,21.6,26.7,17.9,21.6,19.2,86.8,...,16.5,9,NaN,2018-06-01T05:27:08,2018-06-01T20:21:01,0.60,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
1,new york,2018-06-02,30.6,20.7,25.1,32.9,20.7,25.9,19.8,74.0,...,20.8,9,NaN,2018-06-02T05:26:43,2018-06-02T20:21:44,0.63,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
2,new york,2018-06-03,21.7,12.8,17.0,21.7,12.8,17.0,12.5,75.0,...,8.9,3,NaN,2018-06-03T05:26:20,2018-06-03T20:22:26,0.67,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
3,new york,2018-06-04,23.7,11.7,16.8,23.7,11.7,16.8,12.4,76.6,...,19.4,8,NaN,2018-06-04T05:25:59,2018-06-04T20:23:06,0.70,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
4,new york,2018-06-05,24.2,16.1,19.8,24.2,16.1,19.8,11.7,60.7,...,17.3,9,NaN,2018-06-05T05:25:40,2018-06-05T20:23:45,0.73,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417"